.wraper {
  position: relative;
  width: 100%;
  height: 55px;
}

.input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 20px;
  font-family: sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.785);
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  box-shadow: 0px -2px 10px 0px rgba(128, 128, 128, 0.1) inset;
}

.input::placeholder {
  padding: 10px 10px 10px 30px;
  font-family: "Vazirmath";
  background-image: url("../../../public/img/arrow-down.png");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: left 15px;
}

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  font-family: sans-serif; 
  color: rgba(0, 0, 0, 0.648);
  background-color: rgb(161, 247, 144);
}
